input{
    background-color: yellow;
    /* width:100px; */
    /* height:30px; */
    margin:5px;
    
}
body{
    margin:15px
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }